a{
    text-decoration:none;
}
.cardComponent1 {
    width: 30%;
    height: 30%;
    padding: 30px 20px;
    border-left: 7px solid #03396C;
    margin-left: 40px;
    margin-top: 30px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    webkit-box-shadow: 9px 8px 5px 0px rgba(194, 153, 194, 0.46);
    -moz-box-shadow: 9px 8px 5px 0px rgba(194, 153, 194, 0.46);
    box-shadow: 9px 8px 5px 0px rgba(194, 153, 194, 0.46);
}
.cardComponent2 {
    width: 30%;
    height: 30%;
    padding: 30px 20px;
    border-left: 7px solid green;
    margin-left: 40px;
    margin-top: 30px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    webkit-box-shadow: 9px 8px 5px 0px rgba(194, 153, 194, 0.46);
    -moz-box-shadow: 9px 8px 5px 0px rgba(194, 153, 194, 0.46);
    box-shadow: 9px 8px 5px 0px rgba(194, 153, 194, 0.46);
}

.cardComponent1 h2 {
    font-size: 17px;
    color:#180D1A !important;
}
.cardComponent2 h2 {
    font-size: 17px;
    color:#180D1A !important;
}
.cardComponent1 h2:hover {
    font-size: 17px;
    color:#1B4242 !important;
    text-decoration: underline !important;
}
.cardComponent2 h2:hover {
    font-size: 17px;
    color:#1B4242 !important;
    text-decoration: underline !important;
}

.cardComponent1 p {
    padding-top: 20px;
    font-size: 14px;
}
.cardComponent2 p {
    padding-top: 20px;
    font-size: 14px;
}